{% extends 'base.html.twig' %}

{% block title %} Liste des Stagiaires{% endblock %}

{% block body %}


<div>
<h1>Gestion des Stagiaires</h1>
<h2>Liste • Ajout • Modification • Suppression des stagiaires de la formation</h2>
</div>

<section>

    <div>
        Stagiaires
    </div>

    <div>
        Sessions
    </div>

    <div>
        Inscriptions
    </div>

    <div>
        Villes
    </div>

</section>

<p>📋 Liste des Stagiaires (12)</p>

{% endblock %}
