{% extends 'base.html.twig' %}

{% block title %}Ajouter un stagiaire{% endblock %}

{% block body %}
    <h1>Ajouter un stagiaire</h1>

    {{ form(formAddStagiaire) }}
    {# Génère automatiquement le formulaire lié à l’objet "formAddStagiaire" #}
    {# Le rendu inclut tous les champs, les balises <form>, les <label> et les boutons #}
        
{% endblock %}