{% extends 'base.html.twig' %} 

{% block title %} Liste des Sessions {% endblock %}

{% block body %}

<div>
    <h1>Gestion des Sessions</h1>
    <h2> Liste • Ajout • Modification • Suppression des sessions de formation</h2>
</div>

{% for session in sessions %}

    {{session.nom}} <br>

{% endfor %}


{% endblock %}
