{% extends 'base.html.twig' %}

{% block title %}
    {% if edit %}
        Modifier un module
    {% else %}
        Ajouter un module
    {% endif %}
{% endblock %}

{% block body %}

    <div class="bloc-titre-page">
        {% if edit %}
            <h1>Modifier un module</h1>
        {% else %}
            <h1>Ajouter un module</h1>
        {% endif %}
    </div>

    {{ form(formAddModule) }}
    {# Affiche automatiquement le formulaire lié à l’objet "formAddModule" #}

{% endblock %}