{% extends 'base.html.twig' %}

{% block title %} Détail du Module {% endblock %}

{% block body %}
   <div class="bloc-titre-page"> 
    <h1>📚 Détail du Module</h1>
 </div>
    <p><strong>Nom du module :</strong> {{ module.nom }}</p>

    <p><strong>Catégorie associée :</strong>
        {% if module.categorie %}
            {{ module.categorie.nom }}
        {% else %}
            Aucune catégorie
        {% endif %}
    </p>

    <a href="{{ path('app_module') }}">⬅️ Retour à la liste des modules</a>
{% endblock %}